<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="HotelDB" connectionString="Data Source=|DataDirectory|HotelDB.db;Version=3;"/>
	</connectionStrings>

	<system.web>
		<!-- 修复验证问题的主要设置 -->
		<pages controlRenderingCompatibilityVersion="4.0"
			   enableEventValidation="false"
			   validateRequest="false">
		</pages>

		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0"/>

		<!-- 会话状态 -->
		<sessionState mode="InProc" timeout="30"/>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>