<?xml version="1.0"?>
<configuration>
	
	
	<connectionStrings>
		<add name="HotelDB" connectionString="Data Source=|DataDirectory|HotelDB.db;Version=3;" />
	</connectionStrings>

	<appSettings>
		
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.web>

		<pages
			controlRenderingCompatibilityVersion="3.5"
			validateRequest="false"
			enableEventValidation="false"
			clientIDMode="AutoID">
		</pages>

		
		<compilation debug="true" targetFramework="4.0" />

		
		<httpRuntime requestValidationMode="2.0" />

		
		<sessionState mode="InProc" timeout="30" />

	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

</configuration>
